*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(64, 245, 245);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    padding: 0 10%;
}
.logo-container img{
    border-radius: 50%;
    margin-top: 10px;
}
.nav-links{
    display: flex;
}
.nav-links li{
    padding: 0 20px;
}
.nav-links li a{
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    transition: .5s;
}
.nav-links li a:hover{
    font-size: 20px;
    background-color: rgb(10, 68, 68);
    cursor: pointer;
}
.close-nav{
    display: none;
    font-size: 28px;
    background: transparent;
    color: white;
    border: none;
}
.open-nav{
    display: none;
    font-size: 28px;
    background: transparent;
    color: white;
    border: none;
}
/* --------------------- */

@media screen and (max-width: 768px) {
    .nav{
        position: fixed;
        background-color: teal;
        padding-top: 50px;
        height: 100vh;
        width: 350px;
        top: 0px;
        right: -350px;
        padding: 40px 60px;
        border-radius: 0 0 0 40%;
        z-index: 100;
        transition: 1s;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
    }
    .nav-links li{
        margin: 20px 30px;
    }
    .open-nav{
        display: inline;
    }
    .close-nav{
        display: inline;
    }
    .open-nav:hover{
        font-size: 30px;
        cursor: pointer;
    }
    .close-nav{
        font-size: 30px;
        cursor: pointer;
    }
    
}